.news-article-img
{
    height:200px ;
    display: block;
    margin: 0px auto;
}

.news-article-card
{
    margin-bottom: 20px;
    width: 400px;
    border: 1px solid #eabbbb;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0, 0,0,0.2) ;
    padding: 10px;
}