.news-container
{
  display: flex;
  flex-wrap: wrap;

  justify-content:space-around ;
}
.text-center
{
  text-align: center;
}

#nav2
{
  top: 0;
  position: sticky;
}

#navbar-brand
{
  color: #fff;
}

#serach-engine
{
  width: 500px;
  text-align: center;
 
}